{% extends "browser/base.html" %}

    {% block page_content %}

    <h4>General Information</h4>
    <p>TravelInfo was built to help the traveller know where public transport terminals are in each state. And which destination you can travel to from a terminal.</p>
    <p>For example, TravelInfo can tell you that there are X number of interstate terminals in Lagos State, and if you want to get a bus going to Kaduna, you need to go to Terminal XYZ.</p>
    <p>That is what TravelInfo does.</p>
    <p>You can get this information via the <a href="/chatbot">chatbot</a>.</p>

    <h4>Data entry</h4>
    <p>This part of the application you are on is the Data Entry part.</p>
    <p>TravelInfo relies on contributors to tell us knowledge of terminals they've visted and states they've travelled to.</p>
    <p>So please, go ahead to <a href="/terminals/new">add new terminals</a>, or update information on already added terminals. You can edit the description of how to get to that terminal, or if a connected state/terminal has not been added, you can do that.</p>

    <h5>GitHub and contribution</h5>
    <p>TravelInfo is being built in the open and welcomes your contribution.</p>
    <p>This app's repo is here: <a href="https://github.com/wrecodde/travelinfo-app" target="_blank">wrecodde/travelinfo-app</a></p>
    {% endblock %}
    