<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>TravelInfo Browser</title>

    <link rel="stylesheet" href="https://taniarascia.github.io/primitive/css/main.css">
</head>
<body>
    <div class="small-container">
        <h1>Travel Info</h1>
        <p>Browse information on Nigerian interstate travel</p>

        <div class="flex-row">
            <div class="flex-small">
                <h3>Terminals</h3>
                <a href="">Add new terminal</a>
            </div>

            <div class="flex-small">
                <h3>States</h3>
                <p>Some states and their terminsals</p>
            </div>
        </div>
    </div>
</body>
</html>
