{% extends "browser/base.html" %}
    {% block page_content %}
        <p>Browse information on Nigerian interstate travel</p>
        <a href="/terminals/new">Add new terminal</a> - 
        <a href="/terminals">All terminals</a> - 
        <a href="/states">All states</a>

        <div class="flex-row">
            <div class="flex-small">
                <h4>Terminals</h4>
                {% if not terminals %}
                    <p>No terminals have been added yet</p>
                {% else %}
                <ul>
                    {% for terminal in terminals %}
                    <li>
                        <a href="/terminals/{{terminal.terminal_id}}">{{terminal}}</a>
                    </li>
                    {% endfor %}
                </ul>
                {% endif %}
            </div>

            <div class="flex-small">
                <h4>States</h4>
                <ul>
                    {% for state in states %}
                        <li>
                            <a href="/states/{{state.state_id}}">{{state}} - {{state.terminal_set.count}} Terminal(s)</a>
                        </li>
                    {% endfor %}
                </ul>
            </div>
        </div>
    {% endblock %}
