{% extends "browser/base.html" %}
    {% block page_content %}
        <h4>Travel Info on {{state.name}}</h4>

        <p>{{state.name}} has {{state.terminal_set.count}} terminal(s)</p>
        <div class="flex-row">
            <div class="flex-small">
                <h5>Terminals in state</h5>
                {% if state.terminal_set.count > 0 %}
                <ul>
                    {% for terminal in state.terminal_set.all %}
                        <li><a href="/terminals/{{terminal.terminal_id}}">{{terminal.name}}</a></li>
                    {% endfor %}
                </ul>
                {% else %}
                <p>There are no terminals in this state yet</p>
                {% endif %}
            </div>

            <div class="flex-small">
                <h5>Destination terminals</h5>
                <p>In a bit, we would aggregate info and tell you the states and terminals you can travel to from here</p>
            </div>
        </div>
    {% endblock %}
