{% extends "browser/base.html" %}
    {% block page_content %}
        <h4>All Terminals</h4>
        <a href="/terminals/new">Add new terminal</a>
        {% if not terminals %}
        <p>No terminals have been added yet</p>
        {% else %}
            <ul>
                {% for terminal in terminals %}
                <li>
                    <a href="/terminals/{{terminal.terminal_id}}">{{terminal.name}} in {{terminal.state}}</a>
                    <p>{{terminal.description}}</p>
                </li>
                {% endfor %}
            </ul>
        {% endif %}
    {% endblock %}