{% extends "browser/base.html" %}
    {% block page_content %}
        <h4>{{terminal.name}}</h4>
        <p>
            <a href="/terminals/{{terminal.terminal_id}}/edit">Edit terminal</a>
        </p>

        <div class="flex-row">
            <div class="flex-small">
                <p>Terminal is in <a href="/states/{{terminal.state.state_id}}">{{terminal.state}}</a></p>
                <p><b>Transport Mode:</b> {{terminal.get_mode_display}}</p>
                <b>Terminal description:</b>
                <p>{{terminal.description | linebreaks}}</p>
            </div>

            <div class="flex-small">
                <h5>Destination terminals</h5>
                <p>This terminal connects to the following terminals:</p>
                {% if terminal.dest_terminals.count == 0 %}
                <p>No destination terminals yet</p>
                {% else %}
                    <ul>
                    {% for dest_terminal in terminal.dest_terminals.all %}
                        <li><a href="/terminals/{{dest_terminal.terminal_id}}">{{dest_terminal.name}}</a></li>
                    {% endfor %}
                    </ul>
                {%endif %}
            </div>
        </div>
    {% endblock %}
