<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Add a new terminal</title>

    <link rel="stylesheet" href="https://taniarascia.github.io/primitive/css/main.css">
</head>
<body>
    <div class="small-container">
        <h4>Add a new terminal</h4>

        <div class="flex-row">
            <div class="flex-small">
                <form action="/terminals/new" method="post">
                    {% csrf_token %}
                    {{ form }}
                    <input type="submit" value="Add terminal">
                </form>
            </div>
        </div>
    </div>
</body>
</html>
